@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-color-nero: 39 36 37;
  --tw-color-improbable: 109 114 117;
  --tw-color-adirondack: 176 183 195;
  --tw-color-beluga: 239 241 242;
  --tw-color-maculata-bark: 173 167 162;
  --tw-color-belcher-metal: 137 140 143;
  --tw-color-platinum-grey: 105 107 111;
  --tw-color-poppy-surprise: 255 86 48;
  --tw-color-icicles: 186 195 200;
  --tw-color-polar-drift: 206 212 217;
  --tw-color-shisha-coal: 61 58 59;
  --tw-color-black-out: 33 34 35;
  --tw-color-super-silver: 238 238 238;
  --tw-color-silverback: 203 203 203;
  --tw-color-disable: 223 225 226;
  --tw-color-white-smoke: 243 243 243;
  --tw-color-whisper: 230 230 230;
  --tw-color-alice-blue: 250 251 252;
  --tw-color-azure: 248 250 250;
  --tw-color-ebony-clay: 33 33 60;
  --tw-color-cloud-burst: 50 59 75;
  --tw-color-rust-oleum: 36 34 84;
  --tw-color-white: 255 255 255;
  --tw-color-dodger-blue: 55 125 255;
  --tw-color-grey-chateau: 162 168 173;
  --tw-color-dark-jungle-green: 15 23 42;
  --tw-color-zircon: 236 237 237;

  --color-nero: rgb(var(--tw-color-nero)); /* #272425 */
  --color-improbable: rgb(var(--tw-color-improbable)); /* #6D7275 */
  --color-adirondack: rgb(var(--tw-color-adirondack)); /* #B0B7C3 */
  --color-beluga: rgb(var(--tw-color-beluga)); /* #EFF1F2 */
  --color-maculata-bark: rgb(var(--tw-color-maculata-bark)); /* #ADA7A2 */
  --color-belcher-metal: rgb(var(--tw-color-belcher-metal)); /* #898C8F */
  --color-platinum-grey: rgb(var(--tw-color-platinum-grey)); /*#696C6F */
  --color-poppy-surprise: rgb(var(--tw-color-poppy-surprise)); /* #FF5630 */
  --color-icicles: rgb(var(--tw-color-icicles)); /* #BAC3C8 */
  --color-polar-drift: rgb(var(--tw-color-polar-drift)); /* #CED4D9 */
  --color-shisha-coal: rgb(var(--tw-color-shisha-coal)); /* #3D3A3B */
  --color-black-out: rgb(var(--tw-color-black-out)); /* #212223 */
  --color-super-silver: rgb(var(--tw-color-super-silver)); /* #EEEEEE */
  --color-silverback: rgb(var(--tw-color-silverback)); /* #CBCBCB */
  --color-disable: rgb(var(--tw-color-disable)); /* #DFE1E2 */
  --color-white-smoke: rgb(var(--tw-color-white-smoke)); /* #F3F3F3 */
  --color-whisper: rgb(var(--tw-color-whisper)); /* #E6E6E6 */
  --color-alice-blue: rgb(var(--tw-color-alice-blue)); /* #FAFBFC */
  --color-azure: rgb(var(--tw-color-azure)); /* #F8FAFA */
  --color-ebony-clay: rgb(var(--tw-color-ebony-clay)); /* #21213C */
  --color-cloud-burst: rgb(var(--tw-color-cloud-burst)); /* #323B4B */
  --color-rust-oleum: rgb(var(--tw-color-rust-oleum)); /* #242254 */
  --color-white: rgb(var(--tw-color-white)); /* #ffffff */
  --color-dodger-blue: rgb(var(--tw-color-dodger-blue)); /* #377DFF */
  --color-grey-chateau: rgb(var(--tw-color-grey-chateau)); /* #A2A8AD */
  --color-dark-jungle-green: rgb(
    var(--tw-color-dark-jungle-green)
  ); /* #0F172A */
  --color-grey-zircon: rgb(var(--tw-color-zircon)); /* #ECEDED */
}

@layer base {
  @font-face {
    font-family: Gotham;
    font-weight: 700;
    src: url(/fonts/Gotham/GothamBold.ttf) format("ttf");
  }
  @font-face {
    font-family: Gotham;
    font-weight: 500;
    src: url(/fonts/Gotham/GothamMedium.ttf) format("ttf");
  }
  @font-face {
    font-family: Gotham;
    font-weight: 300;
    src: url(/fonts/Gotham/GothamLight.ttf) format("ttf");
  }

  @layer components {
    .fit-content-element {
      @apply w-fit overflow-x-auto xl:w-auto;
    }

    /* Add this to your global CSS file */
    .image-blur-overlay::after {
      content: "";
      position: absolute;
      inset: 0;
      background: inherit;
      filter: blur(
        8px
      ); /* Adjust the pixel value to control the blur intensity */
      z-index: 0;
    }

    /* Adjust the image-blur-overlay z-index to be below the image content */
    .image-content {
      position: relative;
      z-index: 1;
    }
  }
}
